.wrapper {
  position: relative;
}

.header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dimensions-flex {
  display: flex;
}

.dimensions-hide {
  display: none;
}

.dimensions-show {
  display: block;
}
